@color-bg-dark: #121212;         // Sfondo asfalto profondo
@color-bg-card: #1a1a1a;         // Sfondo dei blocchi e delle righe
@color-border-grunge: #3a3a3a;   // Bordi metallici usurati
@color-hokuto-red: #8b0000;      // Rosso sangue scuro di Hokuto
@color-hokuto-glow: #ff2222;     // Rosso vivo per i bagliori energetici
@color-ki-cyan: #00e5ff;         // Azzurro aura di energia spirituale
@color-text-bone: #dedede;       // Testo principale color osso
@color-text-dark: #777777;       // Testo secondario opaco